In [13]:
import  pandas as pd

In [14]:
df= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [15]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [16]:
 s = df['Name'][0:10]

In [17]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [18]:
len(s)

10

In [19]:
type(s)

pandas.core.series.Series

In [24]:
l = ['sudh','b','c','d','e','f','g','h','i','j']

In [29]:
s1 = pd.Series(list(s),index = l)

In [31]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [32]:
s1

sudh                              Braund, Mr. Owen Harris
b       Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                  Heikkinen, Miss. Laina
d            Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                Allen, Mr. William Henry
f                                        Moran, Mr. James
g                                 McCarthy, Mr. Timothy J
h                          Palsson, Master. Gosta Leonard
i       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                     Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [33]:
s[0]

'Braund, Mr. Owen Harris'

In [34]:
s1[0]

'Braund, Mr. Owen Harris'

In [35]:
s1['sudh']

'Braund, Mr. Owen Harris'

In [37]:
s2 = s1.append(s)

/tmp/ipykernel_109/2451741888.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [38]:
s2

sudh                              Braund, Mr. Owen Harris
b       Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                  Heikkinen, Miss. Laina
d            Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                Allen, Mr. William Henry
f                                        Moran, Mr. James
g                                 McCarthy, Mr. Timothy J
h                          Palsson, Master. Gosta Leonard
i       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                     Nasser, Mrs. Nicholas (Adele Achem)
0                                 Braund, Mr. Owen Harris
1       Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                  Heikkinen, Miss. Laina
3            Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                                Allen, Mr. William Henry
5                                        Moran, Mr. James
6                                 McCarthy, Mr. Timothy J
7                          Palsson, Master. Gosta Leonard
8       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                     Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [39]:
s2[4]

'Allen, Mr. William Henry'

In [44]:
s4 = pd.Series([3,4,5,6,6] , index=[2,4,5,6,1])

In [46]:
s5 = pd.Series([34,345,45,45,454] , index=[9,4,5,6,7])

In [48]:
s6 = s4.append(s5)

/tmp/ipykernel_109/937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [49]:
s6

2      3
4      4
5      5
6      6
1      6
9     34
4    345
5     45
6     45
7    454
dtype: int64

In [51]:
s6[4]

4      4
4    345
dtype: int64

In [52]:
s6[0:5]

/tmp/ipykernel_109/2671872114.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:5]

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [53]:
s4

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [54]:
s5

9     34
4    345
5     45
6     45
7    454
dtype: int64

In [57]:
s4 * s5

1       NaN
2       NaN
4    1380.0
5     225.0
6     270.0
7       NaN
9       NaN
dtype: float64

In [58]:
s4 + s5

1      NaN
2      NaN
4    349.0
5     50.0
6     51.0
7      NaN
9      NaN
dtype: float64